.Header{
    background: rgb(0, 123, 195);
    display: flex;
    align-items: baseline;
    color: rgba(240, 248, 255, 0.95);
    padding: 0.5em;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
}

img{
    width: 4em;
    height: 4em;
    align-self: center;
    margin-left: 1.5em;
    border-radius: 45%;
}

.Nav{
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    float: right;
}

.signbuttons{
    font-family: monospace;
    color: black;
    background: rgb(0, 123, 195);
    font-size: x-large;
}

ul{
    list-style: none;
}

a {
    position: relative;
    color: rgba(240, 248, 255, 0.95);
    color: black;
    font-size: x-large;
    margin: 2em 0;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(189, 191, 193);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.Header h2 {
    color: rgba(0, 0, 0, 0.95);
    margin : 0;
    cursor: pointer;
    flex-grow: 1;
    font-style: italic;
    font-weight: 900;
    
}

.Header h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(189, 191, 193);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.Header h2:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu-bars{
    right: 0;
    margin: 0.75em 2.5em;
}

.menu-bars.close{
    right: -8rem;
    font-size: x-large;
}

.nav-menu{
    width: 20em;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -100rem;
    transition: 850ms;
    background-color: rgb(0, 123, 195);
}

.nav-menu.active{
    right: 0rem;
    transition: 350ms;
}

.nav-menu-items{
    width: 100%;
    margin: 2rem 0;
}

.navbar-toggle{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span{
    margin-left: 1.3em;
    font-size: larger;
    margin: 1em;
}