.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.Popgames{
    width: 100vw;
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.imageholder{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.iconbuttons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

div.imageholder:hover div.chess{
    opacity: 0.6;
}

div.imageholder:hover div.rps{
    opacity: 0.6;
}

div.imageholder:hover div.ttt{
    opacity: 0.6;
}

.tileicon{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
}

.buttonn{
    width: 100px;
    height: 40px;
    margin-top: 20%;
}

div.imageholder:hover .tileicon{
    display: none;
}

div.imageholder:hover button.buttonn {
    display: block;
}

div.imageholder button.buttonn{
    top:50%;
    left:50%;
    display:none;
}

.game{
    height: fit-content;
    padding: 0.1em;
    width: fit-content;
}

.chess{
    background-image: url('../imgs/chess.jpg');
    width: 20em;
    height: 10em;
    background-size: cover;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
}

.rps{
    background-image: url('../imgs/rps.jpg');
    width: 20em;
    height: 10em;
    background-size: cover;
    border-radius: 1em;
}

.ttt{
    background-image: url('../imgs/ttt.jpg');
    width: 20em;
    height: 10em;
    background-size: cover;
    border-radius: 1em;
}


.tilebuttons{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.Title{
    font-family: sans-serif;
}

button{
    margin: 0.5em 3em;
    align-items: center;
    background-color: rgb(0, 123, 195);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgba(240, 248, 255, 0.95);
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system,
    system-ui,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Fira Sans",
    Ubuntu,
    Oxygen,
    "Oxygen Sans",
    Cantarell,
    "Droid Sans",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    width: 4em;
    height: 1em;;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}


button:hover,
button:focus {
    background-color: #16437E;
    color: #ffffff;
}

button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.gamesub {
    display: flex; 
    flex-flow: column;
    align-items: center;
}