html {
    max-width: 94vw;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: fixed;
    flex: 1;
}

.Popgames {
    width: 90vw;
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.imageholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.game {
    height: fit-content;
    padding: 1em;
    width: fit-content;
    border-radius: 0.5em;

}

button {
    margin: 0.5em 3em;
    align-items: center;
    background-color: rgb(0, 123, 195);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgba(240, 248, 255, 0.95);
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system,
        system-ui,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Fira Sans",
        Ubuntu,
        Oxygen,
        "Oxygen Sans",
        Cantarell,
        "Droid Sans",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    width: 4em;
    height: 1em;
    ;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}


button:hover,
button:focus {
    background-color: #0e3669 !important;
    color: #ffffff;
}

button:active {
    background: #2387ec;
    color: rgb(255, 255, 255, .7);
}

button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.gamesub {
    display: flex;
    flex-flow: column;
    align-items: center;
}