.CommunityHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.Poptables{
    width: 100vw;
    height: 100vh;
    padding: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tablecontent{
    border: solid black 0.1em;
    height: fit-content;
    border-radius: 0em;
    padding: 0.1em;
    margin: 10px;
    justify-content: space-around;
}

.buttons2{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 123, 195);
}



