.matchHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 5px;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid black;
}

.matchHolder:hover {
    background-color: wheat;
    cursor: pointer;
}

.liveMatchHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 5px;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: rgba(220, 20, 60, 0.85);
}

.liveMatchHolder:hover {
    background-color: rgba(220, 20, 60, 0.95);
    cursor: pointer;
}