.allMatchContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
    padding: 0.5em;
}


.matchList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 5px;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid black;
    position: static;
}

.heading {}