.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.profileBox {
    border: 0.3em solid rgb(0, 123, 195);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 45vw;
    max-width: 65vw;
    height: 80vh;
    overflow: scroll;
    background: white;
    padding: 1em;
}

.usernameDP {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
    margin-top: 2.5%;
}

.usernameBox {
    background-color: beige;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    padding: 2em;
    border-radius: 2em;
}

.statBox {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 5%;
}

.statinfoBox {
    margin-left: 6%;
}

.profileAgentsBox {
    border: 0.3em solid rgb(0, 123, 195);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25vw;
    background: white;
    height: 80vh;
    overflow: scroll;
    padding: 1em;
}