.watch {
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gameBoard {
    width: 55vw;
    height: 80vh;
    background: white;
    padding: 1.25em;
}

.board {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35vw;
    height: 60vh;
    background: white;
    padding: 1.25em;
    margin-left: 5em;
    padding: 0;
    border: 0.5px solid black;
}

.usersPlaying {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    justify-content: space-evenly;

}

.vs {
    margin: 0 5em;
}

.liveGame {
    color: red;
}

.userELO {
    display: flex;
    flex-direction: column;
}

.hidePlayback {
    display: none;
}

.playbackControls {
    border: 0.3em solid rgb(0, 123, 195);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20vw;
    height: 55vh;
    align-self: center;
    background: white;
    padding: 1.25em;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.Leaderboard {
    border: 0.3em solid rgb(0, 123, 195);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25vw;
    height: 68vh;
    background: white;
    padding: 1.25em;
    display: flex;
    flex-flow: column;
    text-align: center;
    overflow-y: scroll;
}

.ldbheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid black;
}

.pgc {
    border: 0.3em solid rgb(0, 123, 195);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25vw;
    padding-inline: 1.25em;
    height: 7.5vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leaderboardandButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.8%;
}

.watchbtns {
    padding: 1em 3em;
    margin: 1em 2em;
    width: 8em;
}

.plbckbtns {
    height: fit-content;
    margin: 2em 0;
    display: flex;
    justify-content: space-evenly;
}

.plbckbtns button {
    width: 3em;
    font-size: 1.5em;
    margin: 0;
}